<div class="container">
        <div class="card" style="width: 60rem;">
            <div class="card-header">
              {{!-- <img class="center" src=https://i.imgur.com/PVEmUZN.gif height="50" width="600" alt="and beer" /> Welcome to the Ballpark!  --}}
            </div>
            <table class="card-table table">
              <thead>
                <tr>
                  <th scope="col">Team</th>
                  <th scope="col">1st</th>
                  <th scope="col">2nd</th>
                  <th scope="col">3rd</th>
                  <th scope="col">4th</th>
                  <th scope="col">5th</th>
                  <th scope="col">6th</th>
                  <th scope="col">7th</th>
                  <th scope="col">8th</th>
                  <th scope="col">9th</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>visTeam</td>
                  <td><form><input type="number" id="visScore1st"></form></td>
                  <td><form><input type="number" id="visScore2nd"></form></td>
                  <td><form><input type="number" id="viscore3rd"></form></td>
                  <td><form><input type="number" id="viscore4th"></form></td>
                  <td><form><input type="number" id="viscore5th"></form></td>
                  <td><form><input type="number" id="viscore6th"></form></td>
                  <td><form><input type="number" id="viscore7th"></form></td>
                  <td><form><input type="number" id="viscore8th"></form></td>
                  <td><form><input type="number" id="viscore9th"></form></td>
                  <td><input type="text" id="sum"><br>
    <input type="button" value="Sum" onclick="calcSum()"></td>
                </tr>
                <tr>
                  <td>homeTeam</td>
                  <td><form><input type="number" id="homeScore1st"></form></td>
                  <td><form><input type="number" id="homeScore2nd"></form></td>
                  <td><form><input type="number" id="homeScore3rd"></form></td>
                  <td><form><input type="number" id="homeScore4th"></form></td>
                  <td><form><input type="number" id="homeScore5th"></form></td>
                  <td><form><input type="number" id="homeScore6th"></form></td>
                  <td><form><input type="number" id="homeScore7th"></form></td>
                  <td><form><input type="number" id="homeScore8th"></form></td>
                  <td><form><input type="number" id="homeScore9th"></form></td>
              </tbody>
            </table>
          </div>
         </div>

<div id="diamond">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


